*{
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #FFF;
    font-size: 20px;
}

.container{
    width: 80%;
    margin: 0px 10%; 
}

a{
    color: #333;
    border-bottom: 2px solid rgba(0,0,0,.4);
    text-decoration: none;
    transition: border .3s ease-in-out;
}

a:hover{
    border-bottom: 2px solid rgba(0,0,0,.1);
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-header .intro{
    color: #333;
    font-size: 1.5em;
    padding-top: 5%; 
    padding-bottom: 2%;
}


main .info-content{
   width: 100%;
   text-align: center;
   font-size: 1em;
   padding-top: 2%; 
}


hr{
    width: 40%;
    color: #d8d341;
    margin-left: 30%;
    background-color: #d8d341;
    text-align: center;
    border: 0;
    height: 1px;
    margin-bottom: 50px;
    margin-top: 30px;
}

main .info-content ul{
    list-style: none;
}

main .info-content ul li{
   display: inline-block;
   margin: 0px 5px;
}

.projects h2{
    text-transform: uppercase;
    color: #BBB;
    font-size: 1.4em;
}

.projects ul{
    list-style: none;
    padding-left: 20px; 
    color: #333;    
}

.projects ul li{
    padding: 7px 0px;
}


@media screen and (min-width: 992px) {
    .container{
        width: 60%;
        margin: 0px 20%; 
    }

}

